// Colors
// Color calculator - http://razorjam.github.io/sasscolourfunctioncalculator/
// Color names - http://name-of-color.com/

$black: #fff;
$white: #fff;
$gray: #eee;
$gray-900: #191919 !important;
$orange: #ff5722;

$font-raleway: 'Raleway', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
$font-pacifico: 'Pacifico', 'Times New Roman', 'Times', 'Baskerville', 'Georgia', cursive;
$font-roboto: 'Roboto', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;

$base-font-sans-serif: $font-raleway;
$base-font-serif: $font-pacifico;

// This is the default html and body font-size for the base rem value.
$rem-base: 16px;

// Body
$base-text-color: $gray-900;
$base-background-color: $white !default;
$font-size-base: 17px;
$line-height-base: 1.58823529;
$base-font-family: $base-font-sans-serif;

$vertical-rhythm: ($line-height-base * 1em);

$base-min-width: 320px;

// Liks
$base-link-color: $orange;

// Buttons 
$btn-color: $white !default;
$btn-background: $black !default;
$btn-padding: 0.4em 0.7em !default;
$btn-font-size: inherit !default;

// Forms
$form-element-padding: $btn-padding !default;
$form-element-border-color: $gray-900;
$form-element-focus-border-color: $black !default;
$placeholder-color: $gray-900;

// Headers
$h1-font-size: 40px;
$h2-font-size: 38px;
$h3-font-size: 24px !default;
$h4-font-size: 21px !default;
$h5-font-size: 17px !default;
$h6-font-size: 15px !default;

$headings-font-family: $base-font-serif;
$headings-color: inherit !default;


$animation-speed: 0.3s;
